<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning about Handle Bars</title>
</head>
<body style="background-color:bisque">
    {{>header}}
    <h1 style="color: pink">Isn't it fun to see</h1>
    <p1>{{name}}</p1>
</body>
</html>