<div style="text-align: center">
    <h5>Static h5 tag used instead of a proper header</h5>
    <h5>Cool stuff</h5>
    <h3>Oh, hello {{name}}</h3>
</div>
<div>
    <a href="/">Main</a>
    <a href="/about">About</a>
</div>