input {
    border: 1px solid #888;
    padding: 8px;
    margin-right: 0;
}
button {
    cursor: pointer;
    background; #ccc;
    color: white;
    border: 1px solid #888;
    padding: 8px;
    margin-left: 0;
}